@import url(config.css);
@import url(bootstrap.min.css);
@import url(responsive.css);

body, html{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2f2;
}

#header{
    width:100%;
    background-color:white;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
    display: flex;
    justify-content: space-between;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    border-bottom:solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--secundaria);
    color: var(--secundaria);
}

#imagem {
    align-items: center;
    margin-left: 150px;
}

#imagem p {
    align-items: center;
    display: inline-block;
    text-align: center;
    float: center;
    vertical-align: center;
    margin-left: 100px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 32px;
    text-align: justify;
}

#footer {
    background-color: var(--secundaria);
    align-items: center;
    display: inline-block;
    height: 100px;
    justify-content: center;
}

.coluna{
    float: right;
    width: 20%;
    display: inline-block;
    padding: 0px 60px;
    flex-direction: row;
}
   
.row::after {
    content:icon;
    clear: both;
    display: table;
}


footer{
  }

.text-center{
  text-align:center;
  vertical-align: middle;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: var(--secundaria);
}
.margin-below-1{
  margin-bottom:1em;
}

.smedialinks i{
  display:inline-block;
  width:16px;
  height:16px;
  font-size:0.9em;
  background:#333;
  padding:8px;
  border:1px solid white;
  border-radius:50%;
  margin-left:20px;
}
 i:hover{
  opacity:0.8;
  cursor:pointer;
}
@media (max-width:750px){
  .seperator{
    flex-direction:column;
  }
  .col-1,.col-1 h3{
    display:none;
  }
  .col-1.first{
    display:block; 
  }
  footer{
    text-align:center;
  }
  select{
    margin-left:auto;
    margin-right:auto;
  }
}