body, html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primaria);
}

#header{
    width:100%;
    background-color:#f2f2f2;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
    display: flex;
    justify-content: space-between;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    border-bottom:solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--secundaria);
    color: var(--secundaria);
}


#conteudo .content {
    justify-content: center;
    display: flex;
}

#texto {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    color: #f2f2f2;
    text-align: center;
}

#servicos .titulo{
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 25px;
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.cartoes{
    background-color: var(--primaria);
}

#cards {
    background-color: #f2f2f2;
    padding: 30px 0px;
}

.title {
    text-align: center;
    padding: 30px 0px;
}

.title p {
    font-size: 21px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0 , 0, 0.1);
}

.card {
    margin: 20px 10px;
    width:17rem;
    margin-left: 2px;
    margin-right: 2px;
}

.card-body a {
    color: darkslategrey;
    font-size: 15px;
    margin-top: auto;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2px;
    margin-right: 2px;
}

.card-body h5 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: inherit;
    text-align: initial;
    color: black

}



.coluna{
    float: center;
    width: 30.33%;
    align-items: center;
    display: flex;
    padding: 0px 60px;
}
   
.row::after {
    content: "";
    clear: both;
    display: table;
}

.coluna p {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 25px;
    text-align: center;
    
}

.pagamento {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: black;
    font-size: 25px;
    text-align: center;
}

#formulario {
    width: 50%;
    align-items: center;
    margin-left: 380px;
}

.form-group label {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    text-align: center;
    
}

#formulario .container {
    align-items: center;
    display:contents;
    float: center;
  
}

.btn {
    background-color: var(--secundaria);
    margin-left: 280px;
    margin-top: 16px;
    height: 60px;
    width: 150px;
}


footer{
}

.margin-below-1{
margin-bottom:1em;
}

.smedialinks i{
display:inline-block;
width:16px;
height:16px;
font-size:0.9em;
background:#333;
padding:8px;
border:1px solid white;
border-radius:50%;
margin-left:20px;
}
i:hover{
opacity:0.8;
cursor:pointer;
}
@media (max-width:750px){
.seperator{
  flex-direction:column;
}
.col-1,.col-1 h3{
  display:none;
}
.col-1.first{
  display:block; 
}
footer{
  text-align:center;
}
select{
  margin-left:auto;
  margin-right:auto;
}
}



