@media (min-width: 1200px) {
    #header .nav-link {
margin-left: 15px;
margin-right: 15px;
    }
   }

/* MAXIMO MEDIO */
@media (min-width: 1200px) {
    #header .navbar-collapse {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }